
pythonProject/arrays_strings/__pycache__/remove_element.cpython-312.pyc
pythonProject/matrix/__pycache__/rotate_image.cpython-312.pyc
pythonProject/matrix/__pycache__/valid_sudoku.cpython-312.pyc
.idea/inspectionProfiles/profiles_settings.xml
.idea/algorithms.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
cpp/letter_combos_phone_num.cpp
javaProject/hello/proj_zero/HelloGoodbye.class
javaProject/hello/proj_zero/HelloGoodbye.java
javaProject/hello/proj_zero/HelloWorld.class
javaProject/hello/proj_zero/HelloWorld.java
javaProject/hello/proj_zero/RandomWord.class
javaProject/hello/proj_zero/RandomWord.java
